<p style="color: green"><%= notice %></p>
<div class='container d-flex justify-content-between' >
  <h1>Recipes</h1>
  <%= button_to "New recipe", { :action => "new" }, method: :get, class:"btn btn-primary"%>
</div>

<ul class = "list-group">
  <% @recipes.each do |recipe| %>
      <%= link_to (render recipe), recipe, class:'text-decoration-none' %>
  <% end %>
<ul>
