
<div class="welcome-cnt">
  <div class="welcome-text-cnt text-center m-5">
    <h1 class="display-1 text-primary-emphasis m-3">Welcome to Recipify</h1>
    <p>Your Ultimate Recipe Companion</p>
    <p>Discover and Create Delicious Recipes</p>

    <div class="mt-1">
      <p>Already have an account?</p>
      <a href="/users/sign_in" class="btn-primary btn-block btn" style="display: block">Sign In</a>
    </div>
  </div>
</div>

